nav{
	border-radius: 0px;
}
#KinSlideShow{
text-align: center;
}
#KinSlideShow{
	margin:0px;
	padding-left: 300px;
 
 }
 body{
 	background-color:#5B4B3B;
 }
 .row{
 	display: inline;
 
 	width:150px;
 	height:100px;
 }